# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [1]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [3]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
Sum=a+b+c
print(sum)

<built-in function sum>

In [7]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
variable = 10
print("The type of the variable is:",type(variable))

The type of the variable is: <class 'int'>

In [8]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=10
b=20
addition = a+b
subtraction = a-b
multiplication = a*b
division = a/b
print(addition)
print(subtraction)
print(multiplication)
print(division)

30
-10
200
0.5

In [9]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
string = "123"
integer = int(string)
float = float(string)
print("Integer:",integer)
print("Float:",float)

Integer: 123
Float: 123.0

In [10]:
# Write a Python program to print the first character of a given string. (User input for the string)
input_string = input ("Enter a string:")
print("The first character is:",input_string[0])

Enter a string:Tejabhi
The first character is: T

In [11]:
# Write a Python program to print the length of a string. (User input for the string)
input_string =input("Enter a string:")
print("The length of the string is:",len(input_string))

Enter a string:Tejabhi
The length of the string is: 7

In [13]:
# Write a Python program to check if a given string contains only alphabets.
input_string =input("Enter a string:")
if input_string.isalpha():
     print("The string contains only alphabets.")
else:
     print("The string does not contain only alphabets.")

Enter a string:Hello everyone
The string does not contain only alphabets.

In [14]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1 =input("Enter a string:")
string2 =input("Enter a string:")
print("The concatenated string is:",string1+string2)

Enter a string:123
Enter a string:456
The concatenated string is: 123456

In [15]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
input_string =input("Enter a string:")
substring = "abc"
index = input_string.find(substring)
if index !=-1:
  print('The substring "{substring}" not found in the input string.')

Enter a string:xyzabc123
The substring "{substring}" not found in the input string.

In [18]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
input_string =input("Enter a string:")
uppercase_string =input_string.upper()
lowercase_string =input_string.lower()
print(f"Original string: {input_string}")
print(f"Uppercase string: {uppercase_string}")
print(f"Lowercase string: {lowercase_string}")

Enter a string:Tejabhi
Original string: Tejabhi
Uppercase string: TEJABHI
Lowercase string: tejabhi

In [19]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
input_string = input("Enter a string:")
character = input("Enter a character:")
count = input_string.count(character)
print(f"The character '{character}' appears {count} times in the string.")

Enter a string:Hello
Enter a character:T
The character 'T' appears 0 times in the string.

In [20]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = input("Enter your name:")
print(f"Hello, {name}! Good Morning")

Enter your name:Tejabhi
Hello, Tejabhi! Good Morning

In [21]:
# Write a Python program to take two numbers as input and print their sum.
num1 = 10
num2 = 20
sum = num1+num2
print(sum)

30

In [22]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name:")
age = int(input("Enter your age:"))
print(f"Hello, my name is {name} and I am {age} years old.")

Enter your name:Tejabhi
Enter your age:19
Hello, my name is Tejabhi and I am 19 years old.

## Control Structures (Conditionals and Loops)

In [25]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=int(input("enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    printf("The number is negative.")
else:
    print("The number is zero.")

enter a number: 20
The number is positive.

In [26]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
num3 = int(input("Enter third number:"))
maximum = max(num1,num2,num3)
print(f"The maximum number is: {maximum}")

Enter first number:10
Enter second number:20
Enter third number:30
The maximum number is: 30

In [28]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year:"))
if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
   print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:2005
2005 is not a leap year.

In [29]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num = int(input("Enter a number:"))
if num % 3 == 0 and num % 5 == 0:
  print(f"{num} is divisible by both 3 and 5.")

Enter a number:25

In [30]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string = input("Enter a string:")
if string == string[::-1]:
     print(f"{string} is a Palindrome.")
else:
    print(f"{string} is not a Palindrome.")

Enter a string:Tejabhi
Tejabhi is not a Palindrome.

In [32]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i = 1
while i <= 20:
    if i % 2 == 0:
       print(i)
    i +=1

2
4
6
8
10
12
14
16
18
20

In [34]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = int(input("Enter a number:"))
for i in range(1,11):
     print(f"{num} x {i} = {num*i}")

Enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [35]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number:"))
sum = 0
i = 1
while i <=n:
    sum += I
    i += 1
print(f"The sum of all numbers from 1 to {n} is {sum}.")

Enter a number:54
The sum of all numbers from 1 to 54 is 54.

In [38]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
     factorial *= i
     i+= 1
print(f"The factorial of {num} is {factorial}.")

Enter a number: 6
The factorial of 6 is 720.

In [42]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms:"))
a, b =0, 1
print("Fibonacci sequence:")
for i in range(n):
    print(a, end=" ")
    a ,b = b, a + b

Enter the number of terms:10
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

In [53]:
# Write a Python program to find all the prime numbers from 1 to 100.
print("Prime numbers from 1 to 100:")
for num in range(1, 101):

        print(num, end=" ")

Prime numbers from 1 to 100:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [58]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for i in range(1,101):
    if i > 50:
         break
print(i)

51

In [59]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1,21):
   if i % 2 != 0:
     print(i)

1
3
5
7
9
11
13
15
17
19

In [60]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
character = input("Enter a character: ")
count = 0
for i in string:
     if i == character:
          count += 1
print(f"The character '{character}' appears {count} times in the string.")

Enter a string: Tejabhi
Enter a character: A
The character 'A' appears 0 times in the string.

In [61]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = int(input("Enter a number: "))
sum = 0
while num > 0:
     digit = num % 10
     sum+= digit
     num//=10
print(f"The sum of digits of the number is {sum}.")

Enter a number: 12
The sum of digits of the number is 3.

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

In [ ]:
# Write a Python program to find the largest element in a list.

In [ ]:
# Write a Python program to reverse a list.

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

In [ ]:
# Write a Python program to find the index of an element in a list.

In [ ]:
# Write a Python program to find if a specific element exists in a list.

In [ ]:
# Write a Python program to remove duplicates from a list.

In [ ]:
# Write a Python program to count the occurrences of an element in a list.

In [ ]:
# Write a Python program to get the number of even numbers in a list.

In [ ]:
# Write a Python program to create a tuple and print it.

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`